{% extends "base.html" %}
{% block title %}검색 페이지{% endblock %}
{% block content %}

<div id="content">
<h1>News Search Engine</h1>

<h5 style="float: right;">찾고자하는 IT뉴스의 제목이나 내용이나 출판사를 검색해보세요.</h5>
<hr><hr>

<div class="col-6" style="float: right;">
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="search_word" value="{{ search_word }}">
        <input type="submit" value="Search">
    </form>

<br/><br/>

    {% if search_list %}
        {% for news in search_list %}
            <h3><a href="{% url 'news:detail' news.id %}">{{ news.title }}</a></h3>
            {{ news.saved_time }}
            <p>{{ news.content }}</p>
            <p>{{ news.company }}</p>
        {% endfor %}
    {% elif search_keyword %}
        [{{ search_keyword }}]의 검색 결과가 없습니다.
    {% endif %}
</div>

<br><br>
{% endblock %}

