{% extends "base.html" %}
{% block title %}News List{% endblock %}
{% block content %}

<!-- 
<script type="text/javascript">
$('.refresh').click(function(){
    os.system('scrapy crawl newsbot -t csv -o - > "path"')
}

</script> -->

<div id="content">
<h1>News List</h1>
<input type="button" id="refresh" value="refresh new data" style="height: 30px; width: 120px;">

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>뉴스제목</td>
                <td>뉴스요약</td>
                <td>출처</td>
                <td>게시날짜</td>
            </tr>
        </thead>
        <tbody>
            {% for news in object_list %}
            <tr>
                <td><a href="{% url 'news:detail' news.id %}"></a>{{ news.title }}</td>
                <td>{{ news.content }}</td>
                <td>{{ news.company }}</td>
                <td>{{ news.saved_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        {% if page.has_previous %}
                            <a class="page-link" href="?page={{page.previous_page_number}}">Previous</a>
                        {% endif %}
                    </li>
                    <li class="page-item">
                        <a class="page-link">Page {{page.number}} of {{page.paginator.num_pages}}</a>
                    </li>
                    <li class="page-item">
                        {% if page.has_next %}
                            <a class="page-link" href="?page={{page.next_page_number}}">Next</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
            
    </div>


</div> 

{% endblock %}



