{% extends "base.html" %}
{% block title %}News Detail{% endblock %}
{% block content %}
    <div id="content">
        <h1>{{ object.title }}</h1>
        <h5><a href="https://news.naver.com/main/read.nhn?mode=LS2D&mid=shm&sid1=105&sid2=230&oid=092&aid=0002212050" target="_blank">기사보기</a></h5>
        <h3>도시 : {{ object.city }}</h3>
        <ul>
            <li>날짜 : {{ object.date }}</li>
            <li>날씨요약 : {{ object.desc }}</li>
            <li>최저기온 : {{ object.temp_min }}</li>
            <li>최고기온 : {{ object.temp_max }}</li>
            <li>습도 : {{ object.humidity }}</li>
            <li>기압 : {{ object.pressure }}</li>
            <li>풍향 : {{ object.deq }}</li>
            <li>풍속 : {{ object.speed }}</li>
        </ul>
    </div> 
{% endblock %}


