{% extends "base.html" %}

{% block title %}Welcome to Django Page!{% endblock %}

{% load static %}
{% block extrastyle %}{% static 'css/home.css' %}{% endblock %}

{% block content %}
    <div id="content_home">
        <div id="homeimg">
            <img src="{% static 'img/django-actor-big.jpg' %}" style="height: 350px;" />
            <h4 style="margin: 0;">This is Django posered web site.</h4>
        </div>
    </div>
{% endblock content %}

{% block footer %}
    <div id="footer">
        &copy; This is FOOTER area.
    </div>
{% endblock footer %}